@media only screen and (min-width: 768px) {

body{
	 text-rendering: optimizeLegibility;
    font-family: "Akzidenz-Grotesk Std Regular";
}

@font-face {
    font-family: "Akzidenz-Grotesk Std Regular";
    src: url('AkzidenzGroteskStd-Regular.otf'); 
}

h1{
	font-family: "Akzidenz-Grotesk Std Regular", sans-serif;
    font-size: 2.5vw;
	padding-left: 1vw;
	position: fixed;
	text-decoration: none;
	border:none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
    bottom:0;
    position: fixed;
    font-family: "Akzidenz-Grotesk Std Regular", sans-serif;
    font-size: 2.5vw;
    padding-bottom: 1.5vw;
    line-height: 1em;
}


li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


li a:hover {
    color: #A9A9A9;
}

a{
    color: #000;
    text-decoration: none;
    border:none;
}

a:hover {
    color: #A9A9A9;
    text-decoration: none;
}

a:visited {
 text-decoration: none; 
}


a:focus { text-decoration: none; }
a:active { text-decoration: none; }

img{
	padding-right: 1vw;
	display: block;
	position: relative;
	width: 67%;
	height: auto;
	left:32%;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.ceros{
	display: block;
	position: relative;
	left:32%;
}

video{
	padding-right: 1vw;
	display: block;
	position: relative;
	height: auto;
	width: 67%;
	left:32%;
	padding-bottom: 1vw;
	top: 0;
}

.two{
    box-shadow: 1px 2px 2px #888888;
    padding:0;
    margin-bottom: 1vw;
    padding-top: 1vw;
    
}

.description{
	padding-right: 1vw;
	position: relative;
	display: inline-block;
	left:32%;
	text-overflow: hidden;
	width:65%;
	font-family: "Akzidenz-Grotesk Std Regular", sans-serif;
	font-size: 1.5vw;
	margin-top: 0;
	padding-bottom: 1.5vw;
}
.description1{
	padding-right: 1vw;
	position: relative;
	display: inline-block;
	left:32%;
	text-overflow: hidden;
	width:65%;
	font-family: "Akzidenz-Grotesk Std Regular", sans-serif;
	font-size: 1.5vw;
	margin-top: 0;
	padding-top: 1.5vw;
	padding-bottom: 1vw;
}

h2{
	left:32%;
	width: 65%;
	position:relative;
	margin-bottom: 0;
	font-family: "Akzidenz-Grotesk Std Regular", sans-serif;
	padding-bottom:0.5vw;
	text-decoration: none;
	font-size: 1.5vw;
}

h3{
	left:0;
	width: 100%;
	position:sticky;
	margin-bottom: 0;
	font-family: "Akzidenz-Grotesk Std Regular", sans-serif;
	padding-bottom:0.5vw;
	text-decoration: none;
	font-size: 4vw;
	text-align:center;
}


span{
	border-bottom: 2px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: black;
}

span:hover{
	color:black;
}

.dropdown{
	display:none;
}

.content{
	display: block;
}

}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 
 .desknav{
 	display:none;
 }
 h1{
 	display:none;
}

ul{
 	display:none;
 }

img {
    width: 100%;
    left:0%;
    padding-right: 0;
    margin: auto 0;
    padding-right: 0;
    padding-top: 1vw;
	padding-bottom: 1vw;
}

video {
    width: 100%;
    left:0%;
    padding-right: 0;
    margin: auto 0;
    padding-right: 0;
    top: 10%;
    padding-top: 1vw;
	padding-bottom: 1vw;
}

  body{
  	padding: 0;
  	margin-top:0;
    overflow: scroll;
  }

  h2{
	width: 100%;
    left:0%;
    padding-right: 0;
    margin: auto 0;
    padding-right: 0;
    padding-bottom:1.5vw;
    padding-top:1.5vw;
    font-size: 3vw;
  }
h2 a{
	z-index:500;
  }
.description{
    width: 100%;
    left:0%;
    padding-right: 0;
    margin: auto 0;
    padding-right: 0;
    font-size: 3vw;
  }

.description1{
    width: 100%;
    left:0%;
    padding-right: 0;
    margin: auto 0;
    padding-right: 0;
    font-size: 3vw;
    	padding-bottom: 3vw;
  }

.description1 a{
    width: 100%;
    left:0%;
    padding-right: 0;
    margin: auto 0;
    padding-right: 0;
    font-size: 3vw;
    text-decoration: none;
    color:black;
  }
button {
	border:none;
}
.dropbtn {
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  width:100%;
  font-family: "Akzidenz-Grotesk Std Regular", sans-serif;
  font-size: 5.5vw;
  background-color: white;
  color:black;
  outline: 2px solid black;
  outline-offset: -2px;
/*  position:absolute;
  display:block;*/
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
background-color: black;
 color: white;
}

.dropbtn:focus{
	background-color: white;
  color:black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  display: block;
  width:100%;
  /*background-color: black;*/
  right:0;

 }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  width:100%;
  height:100%;
  z-index: 1;
   transform: translateY(20%);
}

/* Links inside the dropdown */
.dropdown-content a {
  height:100%;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align:center;
  font-family: "Akzidenz-Grotesk Std Regular", sans-serif;
  font-size: 5.5vw;
  display:block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover { color: #A9A9A9}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.hide {display:none;}

span{
  border-bottom: 2px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: white;
}

span:hover{
  color:white;
}

.black{
	display:none;
	width:100%;
	height:100%;
	background-color: black;
	z-index:0;
	left:0;
	position: fixed;
}

.hidden {
   overflow: hidden;
}

.content{
		position:relative;
	z-index: -10;
	top: 13vw;
	padding-bottom: 3vw;
}

.fixedPosition{
    position: fixed;
 }
a{
    color: #000;
    text-decoration: none;
    border:none;
}


a:visited {
 text-decoration: none; 
}


a:focus { text-decoration: none; }
a:active { text-decoration: none; }

}

