/*body{ 
	margin: 100px;
    font-family: "DinBold", sans-serif;
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
    font-size: 14pt;
    text-align: left;
    column-count: 2;
    column-gap: 20px;
}

@font-face {
    font-family: "Din";
	src: url("fonts/DINOT.woff"); }


@font-face {
    font-family: "DinBold";
    font-weight: bold;
    src: url("fonts/DINOT-Bold.woff"); 
}

h1{
	font-size: 42pt;
	font-weight: bold;
	line-height: 52px;
	margin-bottom: 12px;
	margin-top: 0px;
	padding-top: 0px;
}
h2{
	font-size: 26pt;
	font-weight: bold;
	line-height: 36px;
	margin-bottom: 0px;
}
h3{
	font-size: 26pt;
	font-weight: bold;
	line-height: 36px;
	margin-bottom: 2px;
}

h5{
 	font-family: "DinBold", sans-serif;
	position: fixed;
	color:red; 
 	z-index: -1; 
 	font-size: 225px;
 	top:25%;
 	text-align: center;
 	vertical-align: middle;
 	width:90%;
 	margin-top: 2px;
 	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
} */

/*a{
	top: 2px;
	vertical-align: middle;
	position: relative;
	text-align: center;
	color: black;
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
	z-index:400;
	padding:0px;
	margin: 0px;
	border: 0px;
} */

/* .translation{
	font-family: "DinBold", sans-serif;
	position: fixed;
	color:red; 
 	z-index: -1; 
 	font-size: 225px;
 	top:25%;
 	text-align: center;
 	vertical-align: middle;
 	margin-top: 2px;

} */
	

}
