body{ 
margin: 100px;
    font-family: "Din", sans-serif;
font-weight: normal;
font-style: normal;
text-rendering: optimizeLegibility;
    font-size: 22pt;
    text-align: justify;
}

@font-face {
    font-family: "Din";
src: url("fonts/DINOT.woff"); }


@font-face {
    font-family: "DinBold";
    font-weight: bold;
    src: url("fonts/DINOT-Bold.woff"); 
}
h1{
	font-size: 42pt;
	font-weight: bold;
	line-height: 0px;
}
h2{
	font-size: 26pt;
	font-weight: bold;
	line-height: 30px;
}
h3{
	font-size: 26pt;
	font-weight: bold;
	line-height: 30px;
}

/*h5{
 	color:red; 
 	z-index: 200; 
 	width: 200px;
 	left: 220px;
} */

.translation{
	font: /*"DinBold", sans-serif;
	position: fixed;
	color:red; 
 	z-index: -1; 
 	font-size:17px;
 	top:2px;


}
	

}
